.content
{
    padding: 10px;
}

.content .top-title
{
    margin: 5px 0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border-left: 4px solid var(--color-special);
    color: var(--color-special);
}

.content .text
{
    line-height: 30px;
    font-size: 15px;
}

.content a,.content a:hover
{
    color: green;
    text-decoration: underline;
}